html {
    font-family: "Rye", cursive;    
    color: blue;
}

.heading {
    font-family: "Rye", cursive;    
    color: blue;
}

.nameEntry {
    font-family: "Rye", cursive;    
    color: blue;
}

.nameRow {
    font-family: "Rye", cursive;    
    color: blue;
}

.weightEntry {
    font-family: "Rye", cursive;    
    color: blue;
}

.weightRow {
    font-family: "Rye", cursive;    
    color: blue;
}

.heightEntry {
    font-family: "Rye", cursive;    
    color: blue;
}

.heightRow {
    font-family: "Rye", cursive;    
    color: blue;
}

.buttonsRow {
    font-family: "Rye", cursive;    
    color: blue;
}

.calculateButton {
    font-family: "Rye", cursive;    
    color: blue;
}

.resetButton {
    font-family: "Rye", cursive;    
    color: blue;
    margin-left: 10px;
}



